form {
    width: 360px;
}

.control-group {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: .80rem;
}

fieldset, .control-group label {
    margin-bottom: .80rem;
}

input, select, button {
    min-width: 120px;
    padding: .40rem;
}